.form-horizontal input.ng-invalid.ng-touched{
      border-color: #DF013A;
      outline-color: #DF013A;
      }
.form-horizontal select.ng-invalid.ng-touched{
      border-color: #DF013A;
      outline-color: #DF013A;
      }