@import "../base";
.search-row{
  .input-group{
    padding: 3px 0px;
    input{
      border-width: 0px;
    }
    .input-group-btn{
      button{
        height: 34px;
        color: #aaaaaa;
        background-color: #fff;
        border-left: 2px solid darken(@very-light-grey, 10%) ;
      }
    }
  }
  .errormessage-container{
    .alert-danger.alert{
      margin:10px;
    } 
  }

}


#map-geosearch{

  top:10px;
  left:20px;
  width:400px;
  // height:50px;
  .box-shadow(0px 1px 1px #aaa);
  .border-radius(3px);
}

#map-tools-box{
  padding: 20px 15px 20px 15px;
  left:20px;
  top:150px;
  width: 170px;
  height: 300px;
  background-color: #ffffff;
  .box-shadow(0px 1px 1px #aaa);
  .border-radius(3px);
  span.btn{
    &.active{
      // background-color: #ddd;
    }
  }
  .row + .row{
    margin-top: 10px;
  }

  span.btn{
    text-align: center;
    width: 100%;
  }

}

.delete-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
  &:hover{
    background: #eee;
  }
}



//  treatment.jade begin
.mapcontainer{
  height: 400px;
  background-color: #CCFF99;
  
}

.situation-summary{
  p {
    margin-bottom: 0px;
  }
}

// treatment.jade ends



/*following code is for antdistribution.jade*/
#genus-species-panel{
  width: 400px;
  left:20px;
  top: 10px;
  .box-shadow(0px 1px 1px #aaa);
  .border-radius(3px);
  overflow: auto;
  height: 500px;
}
.genus-species-index{
  ul {
    padding: 0px;
    li{
      cursor: pointer;
      &:hover{
        font-weight:bold;
        text-decoration: underline;
      }
      list-style: none;
      line-height: 1.42857143;
      // font-size: 12px;
    }
  }
}

