@import "../base";

#map-tools-box{
  padding: 20px 15px 20px 15px;
  left:20px;
  top:20px;
  width: 170px;
  height: 300px;
  background-color: #ffffff;
  .box-shadow(3px 3px 3px #aaa);
  span.btn{
    &.active{
      // background-color: #ddd;
    }
  }

}