.real-100-width {
  margin: 0px;
  padding: 0px;
}
.at-bottom-right {
  bottom: 0;
  right: 0;
}
.search-row .input-group {
  padding: 3px 0px;
}
.search-row .input-group input {
  border-width: 0px;
}
.search-row .input-group .input-group-btn button {
  height: 34px;
  color: #aaaaaa;
  background-color: #fff;
  border-left: 2px solid #d8e1e6;
}
.search-row .errormessage-container .alert-danger.alert {
  margin: 10px;
}
#map-geosearch {
  top: 10px;
  left: 20px;
  width: 400px;
  -webkit-box-shadow: 0px 1px 1px #aaaaaa;
  -moz-box-shadow: 0px 1px 1px #aaaaaa;
  -ms-box-shadow: 0px 1px 1px #aaaaaa;
  box-shadow: 0px 1px 1px #aaaaaa;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#map-tools-box {
  padding: 20px 15px 20px 15px;
  left: 20px;
  top: 150px;
  width: 170px;
  height: 320px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px #aaaaaa;
  -moz-box-shadow: 0px 1px 1px #aaaaaa;
  -ms-box-shadow: 0px 1px 1px #aaaaaa;
  box-shadow: 0px 1px 1px #aaaaaa;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#map-tools-box .row + .row {
  margin-top: 10px;
}
#map-tools-box span.btn {
  text-align: center;
  width: 100%;
}
.delete-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #222;
  font-weight: bold;
  border: 1px solid #999;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
.delete-menu li:hover {
  background: #eee;
}
.mapcontainer {
  height: 400px;
  background-color: #CCFF99;
}
.situation-summary p {
  margin-bottom: 0px;
}
/*following code is for antdistribution.jade*/
#genus-species-panel {
  left: 20px;
  top: 10px;
  -webkit-box-shadow: 0px 1px 1px #aaaaaa;
  -moz-box-shadow: 0px 1px 1px #aaaaaa;
  -ms-box-shadow: 0px 1px 1px #aaaaaa;
  box-shadow: 0px 1px 1px #aaaaaa;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 500px;
}
.genus-species-index .col-xs-2 {
  width: 72px;
}
.genus-species-index .col-xs-5 {
  width: 190px;
  padding-right: 0px;
  padding-left: 0px;
  max-height: 490px;
  overflow: auto;
}
.genus-species-index .col-xs-5 .collapse-button {
  padding-right: 30px;
  cursor: pointer;
}
.genus-species-index .col-xs-5 .collapse-button span {
  padding-left: 10px;
}
.genus-species-index ul {
  padding: 0px;
}
.genus-species-index ul li {
  cursor: pointer;
  list-style: none;
  line-height: 1.42857143;
}
.genus-species-index ul li:hover {
  text-decoration: underline;
}
.genus-species-index ul li.active {
  color: #3366ff;
}
