extends layout

block additionalCSS
  link(href='/assets/fullcalendar-2.4.0/fullcalendar.css', rel='stylesheet', type='text/css', media='screen')

block renderBody
  include snippets/breadcrum
  .divide20
  .container
    .row
      .col-md-6.col-md-offset-1.form-element
        .input-group
          input.form-control(type='text', id="query-place-ipt" ,placeholder="city, state, country, like, college station, tx, us")
          span.input-group-btn
            button.btn.btn-default(type='button', id="refresh-btn" ) Fire Ant Activity Forecast

    .divide30
    .row
      .col-md-10.col-md-offset-1#calendar
  .divide30



block additionalJS

  //- 35.4kb
  script(src='/assets/moment/moment.min.js')
  script(src='/assets/fullcalendar-2.4.0/fullcalendar.min.js')
  script(src='/underscorejs/underscore-min.js')
  //- script(src='/simpleWeather/jquery.simpleWeather.min.js')


  script(src='/js/antactivity.js')