extends layout

block additionalCSS
  link(href='/rs-plugin/css/settings.css', rel='stylesheet', type='text/css', media='screen')
  link(href='/css/rev-style.css', rel='stylesheet', type='text/css', media='screen')


block renderBody
  // rev slider start
  .fullwidthbanner
    .tp-banner
      ul
        // SLIDE
        li(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title='Wise Management')
          // MAIN IMAGE
          img(src='/img/bg-3.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .caption.title-2.sft(data-x='50', data-y='160', data-speed='1000', data-start='1000', data-easing='easeOutExpo')
            | Powerful Multi-purpose 
            br
            | Fire Ant Management &amp; Monitoring
          //- .caption.text.sfl(data-x='50', data-y='310', data-speed='1000', data-start='1800', data-easing='easeOutExpo')
            | subtitle of this website.  
            br
            | subtitle of this website. subtitle of this website.
          .caption.sfb.rev-buttons.tp-resizeme(data-x='50', data-y='380', data-speed='500', data-start='1000', data-easing='Sine.easeOut')
            a.btn.btn-theme-bg.btn-lg(href='#') How it works
          .caption.sfb.rev-buttons.tp-resizeme(data-x='250', data-y='380', data-speed='500', data-start='1000', data-easing='Sine.easeOut')
            a.btn.btn-theme-bg.btn-lg(href='#') View features
        
        // SLIDE
        li(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title='Multipurpose')
          // MAIN IMAGE
          img(src='/img/bg-1.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          // LAYER NR. 1
          .caption.left-tile-text.sfr.tp-resizeme(data-x='40', data-y='110', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600')
            | Another Appealing Feature Text
          // LAYER NR. 2
          .caption.medium_bg_darkblue.sfl.medium.tp-resizeme(data-x='40', data-y='170', data-speed='600', data-start='1600', data-end='9400', data-endspeed='600')
            i.fa.fa-check
          // LAYER NR. 3
          .caption.modern_big_redbg.sfb.medium.tp-resizeme(data-x='90', data-y='170', data-speed='600', data-start='1600', data-end='9400', data-endspeed='600')
            | Slogon 1 ABC CBA ABC
          // LAYER NR. 4
          .caption.medium_bg_darkblue.sfl.medium.tp-resizeme(data-x='40', data-y='220', data-speed='600', data-start='1800', data-end='9400', data-endspeed='600')
            i.fa.fa-check
          // LAYER NR. 5
          .caption.modern_big_redbg.sfb.medium.tp-resizeme(data-x='90', data-y='220', data-speed='600', data-start='1800', data-end='9400', data-endspeed='600')
            | Slogon 1 ABC CBA ABC
          // LAYER NR. 6
          .caption.medium_bg_darkblue.sfl.medium.tp-resizeme(data-x='40', data-y='270', data-speed='600', data-start='2000', data-end='9400', data-endspeed='600')
            i.fa.fa-check
          // LAYER NR. 7
          .caption.modern_big_redbg.sfb.medium.tp-resizeme(data-x='90', data-y='270', data-speed='600', data-start='2000', data-end='9400', data-endspeed='600')
            | Slogon 1 ABC CBA ABC
          // LAYER NR. 8
          .caption.medium_bg_darkblue.sfl.medium.tp-resizeme(data-x='40', data-y='320', data-speed='600', data-start='2200', data-end='9400', data-endspeed='600')
            i.fa.fa-check
          // LAYER NR. 9
          .caption.modern_big_redbg.sfb.medium.tp-resizeme(data-x='90', data-y='320', data-speed='600', data-start='2200', data-end='9400', data-endspeed='600')
            | Clean &amp; Friendly UIs
          // LAYER NR. 10
          .caption.modern_big_redbg.sfb.medium.tp-resizeme(data-x='40', data-y='370', data-speed='600', data-start='2400', data-end='9400', data-endspeed='600')
            | And Much More...
        // SLIDE
        li(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title='Unique Theme')
          // MAIN IMAGE
          img(src='/img/bg-4.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .caption.text-center-top.sft(data-x='center', data-y='210', data-speed='1000', data-start='1400', data-easing='easeOutExpo')
            | Feel the difference
          .caption.text-center-btm.sfr.text-center(data-x='center', data-y='265', data-speed='1000', data-start='1600', data-easing='easeOutExpo')
            | FASIDS is a creative fire ant management platform, you can use it for
            br
            |   public good1, public good2, public good3...
          .caption.sfb.rev-buttons.tp-resizeme(data-x='center', data-y='380', data-speed='500', data-start='1800', data-easing='Sine.easeOut')
            a.btn.border-white.btn-lg(href='#') View features
  // full width banner
  // revolution end
  .divide60
  .container
    .row
      .col-md-6.margin20
        h3.heading Better Services Provide by us
        p
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        p
          a.btn.btn-theme-bg(href='#') Contact us
      .col-md-6
        img.img-responsive(src='/img/showcase-1.jpg', alt='')
    // about intro
  .divide60
  .container
    .row
      .col-md-12
        h3.heading Our Services
    .row.special-feature
      .col-md-3.col-sm-6.margin20
        .s-feature-box.text-center
          .mask-top
            // Icon
            i.fa.fa-map-o
            // Title
            h4 INTERACTIVE LANDSCAPE
          .mask-bottom
            // Icon
            i.fa.fa-map-o
            // Title
            h4 NTERACTIVE LANDSCAPE
            // Text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
      // services col
      .col-md-3.col-sm-6.margin20
        .s-feature-box.text-center
          .mask-top
            // Icon
            i.fa.fa-laptop
            // Title
            h4 REPORTS MANAGEMENT
          .mask-bottom
            // Icon
            i.fa.fa-laptop
            // Title
            h4 REPORTS MANAGEMENT
            // Text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
      // services col
      .col-md-3.col-sm-6.margin20
        .s-feature-box.text-center
          .mask-top
            // Icon
            i.fa.fa-calendar-check-o
            // Title
            h4 FIRE ANT ACTIVITY PREDITION
          .mask-bottom
            // Icon
            i.fa.fa-calendar-check-o
            // Title
            h4 FIRE ANT ACTIVITY PREDITION
            // Text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
      // services col
      .col-md-3.col-sm-6.margin20
        .s-feature-box.text-center
          .mask-top
            // Icon
            i.fa.fa-wechat
            // Title
            h4 ONLINE Q&amp;A
          .mask-bottom
            // Icon
            i.fa.fa-wechat
            // Title
            h4 ONLINE Q&amp;A
            // Text
            p
              | Assan Release the updates time to time. more big updates are coming in future. keep in touch and and enjoy all updates free of cost.
      // services col
    .divide70
    .row
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.1s')
          .services-box-icon
            i.fa.fa-pencil
          // services icon
          .services-box-info
            h4 Web &AMP; Graphics Design
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.2s')
          .services-box-icon
            i.fa.fa-globe
          // services icon
          .services-box-info
            h4 Web Development
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.3s')
          .services-box-icon
            i.fa.fa-users
          // services icon
          .services-box-info
            h4 Customer Support
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
    // services row
    .divide30
    .row
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.4s')
          .services-box-icon
            i.fa.fa-crop
          // services icon
          .services-box-info
            h4 Pixel perfect design
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.5s')
          .services-box-icon
            i.fa.fa-twitter
          // services icon
          .services-box-info
            h4 bootstrap 3.3.4
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
      .col-md-4.margin20
        .services-box.wow.animated.fadeInUp(data-wow-delay='0.6s')
          .services-box-icon
            i.fa.fa-flag
          // services icon
          .services-box-info
            h4 Font Awesome icons
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
        // services box
      // services col
    // services row
  // .container
  .divide60
  section#services-bg-wrap
    .container
      .row
        .col-md-4.hidden-sm
          img.img-responsive(src='/img/mockup-ipad.png', alt='mockup')
        .col-md-8.col-xs-12.service-3-meta
          h1
            | Core features of 
            span.colored-text assan
          .services-box.margin30
            .services-box-icon
              i.fa.fa-tablet
            // services icon
            .services-box-info
              h4 Fully Responsive
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
          // service box
          .services-box.margin30
            .services-box-icon
              i.fa.fa-twitter
            // services icon
            .services-box-info
              h4 bootstrap 3.3.4
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
          // service box
          .services-box.margin30
            .services-box-icon
              i.fa.fa-code
            // services icon
            .services-box-info
              h4 80+ valid HTML5 Pages and much more...
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
            .divide30
            p
              a.btn.btn-theme-dark.btn-lg(href='#') Purchase Now
          // service box
  // services with the showcase mockups

block additionalJS
  script(src='/rs-plugin/js/jquery.themepunch.tools.min.js', type='text/javascript')
  script(src='/rs-plugin/js/jquery.themepunch.revolution.min.js', type='text/javascript')
  script(src='/js/revolution-custom.js', type='text/javascript')
