extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')
  link(href='/wysihtml/examples/css/stylesheet.css', rel='stylesheet', type='text/css', media='screen')

block renderBody
  include snippets/breadcrum
  +breadcrumb(breadcrumTitle, pathToHere)
  -function actionPath (to_be_edited_post){ if (to_be_edited_post){ return "/qa/edit_post?post_id="+to_be_edited_post._id ;} else return "/qa/posting";}
  .container
    if to_be_edited_post
      meta(name="to_be_edited_post", content=to_be_edited_post.content)
      if to_be_edited_post.post_title
        meta(name="to_be_edited_post.post_title", content=to_be_edited_post.post_title)
    form(method="post" id ='wysihtml-form', action=actionPath(to_be_edited_post))
      .divide30
      .row
        .col-xs-11.col-xs-offset-1
          | Topic Icons &nbsp;&nbsp;&nbsp;

          label.radio-inline
            input#inlineRadio1(type='radio', name='post_cat', value='1')
            |  None
          label.radio-inline
            input#inlineRadio2(type='radio', name='post_cat', value='2')
            |  Icon1
          label.radio-inline
            input#inlineRadio3(type='radio', name='post_cat', value='3')
            |  Icon2
          label.radio-inline
            input#inlineRadio4(type='radio', name='post_cat', value='4')
            |  Icon3
          label.radio-inline
            input#inlineRadio5(type='radio', name='post_cat', value='5')
            |  Icon4
          label.radio-inline
            input#inlineRadio6(type='radio', name='post_cat', value='6')
            |  Icon5
      .divide30
      .row
        .col-xs-10.col-xs-offset-1
          input.form-control(type='text', name='title', placeholder='Question subject')
      .divide20
      .row
        .col-xs-10.col-xs-offset-1
          include snippets/fasids-editor-inner

      .divide20
      .row.final-buttons
        .col-xs-11.col-xs-offset-1
          a.btn.border-black(href='#') Save draft

          a.btn.border-black(href='#') preview

          .btn.btn-theme-bg(id='wysihtml-submit') Submit
    
    .divide20



block additionalJS
  script(src="/wysihtml/dist/wysihtml5x-toolbar.min.js")
  script(src="/wysihtml/parser_rules/advanced_and_extended.js")
  script.
    var editor = new wysihtml5.Editor('editor', {
      toolbar: 'toolbar',
      parserRules:  wysihtml5ParserRules
    });

    $(document).ready(function(){
      $('#wysihtml-submit').click(function(){
        $('#content').val( $('#editor').html() );
        $('#wysihtml-form').submit();
      });

      /*
        since this view jade file will be used for edit purpose too
        I need to check whether this page has to be edited post tag
      */
      var jMeta = $("meta[name=to_be_edited_post]");
      if (jMeta.length >0){
        $("#editor").html(jMeta.attr("content"));
      }
      if ($('meta[name="to_be_edited_post.post_title"]').length>0){
        $("input[name=title]").val($('meta[name="to_be_edited_post.post_title"]').attr("content"));
      }
    });