extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')


block renderBody
  include snippets/breadcrum

  .container-fluid.qa-summary
    .row
      .col-md-6.qa-slider
        | slider here
      .col-md-6.qa-most-voted
        .row
          .col-sm-1 icon
          .col-sm-1 67
          .col-sm-8 Title here title here title here
          .col-sm-2 2015-5-3
  .divide30

  .container.qa-post-titles
    .row
      .col-xs-10.col-xs-offset-1
        h3.heading Current Posts
    .row
      .col-xs-10.col-xs-offset-1
        a.btn.btn.btn-theme-dark(href="/qa/posting") 
          i.fa.fa-plus
          | NEW QUESTION
    .divide25
    .row.qa-post-title-header
      .col-sm-1
      .col-sm-7
        strong TOPICS
      .col-sm-1 
        strong REPLIES
      .col-sm-1
        strong VIEWS
      .col-sm-2
        strong LAST REPLY
    .divide30
    
    .qa-post-titles
      .row.qa-post-title-row
        .col-sm-1 ICON
        .col-sm-7
          .row
            .col-xs-12 Dummy title here, China Man Basketball team beat Iran
          .row
            .col-xs-12.text-muted Posted by wsliubw, 1 week ago
        .col-sm-1 
          i.fa.fa-comment-o
          | 15
        .col-sm-1 345 views
        .col-sm-2
          .row
            .col-xs-4 ProI
            .col-xs-8
              .row
                .col-xs-12
                  | Username
              .row
                .col-xs-12
                  | 3 days ago
      .row.qa-post-title-row.even-numbered-post-row
        .col-sm-1 ICON
        .col-sm-7
          .row
            .col-xs-12 Dummy title here, China Man Basketball team beat Iran
          .row
            .col-xs-12.text-muted Posted by wsliubw, 1 week ago
        .col-sm-1 
          i.fa.fa-comment-o
          | 15
        .col-sm-1 345 views
        .col-sm-2
          .row
            .col-xs-4 ProI
            .col-xs-8
              .row
                .col-xs-12
                  | Username
              .row
                .col-xs-12
                  | 3 days ago
    .divide30
    //- put pagination down
    .row
      .col-xs-10.col-xs-offset-1
        div
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »
    //- put filter row here
    .row.qa-post-title-filter
      .col-sm-8.col-sm-offset-1
        form(method='post')
          | Display topics from previous:
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | all
              span.caret
            ul.dropdown-menu
              li
                a(href='#') All
              li
                a(href='#') 1 day ago
              li
                a(href='#') 1 week ago
          |&nbsp;&nbsp; Sort by
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Post time
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Post time
              li
                a(href='#') Views
              li
                a(href='#') Replies
              li: a(href = "#") Subjects
          |&nbsp;&nbsp;
          .btn-group.marginRight10
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Descending
              span.caret
            ul.dropdown-menu
              li: a(href = "#") Descending
              li: a(href = "#") Ascending




          // div.btn-group ends
          button.btn.btn-primary(type='button', id="filter-go-btn") Go
  .divide60



block additionalJS