extends layout

block additionalCSS

block renderBody
  include snippets/breadcrum
  +breadcrumb(breadcrumTitle, pathToHere)
  include snippets/infobox.jade
  .divide30
  .container
    .row
      .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
        .login-form(ng-app="signupForm", ng-controller="signupCtrl")
          h3 Sign Up 
            
          form(name="signupform", role='form', method="post", novalidate)
            .form-group
              label(for='email')
                | Email address
                span * 
              input#email.form-control(type='email', name="email",  ng-model="user.email", placeholder='Enter email' , required)

            .form-group
              label(for='password')
                | Password
                span * 
              input#password.form-control(type='password',name="password",ng-model="user.minwenpassword" ,placeholder='Password',ng-minlength="6", ng-maxlength="16" required)
              div(ng-show="signupform.password.$error.minlength||signupform.password.$error.maxlength") Password should be at least 6 characters long, and at most 16 characters long.
            
            .form-group
              label(for='password')
                | Password validation
                span * 
              input#passwordvalid.form-control(type='password',name="passwordvalid",ng-model="user.minwenpasswordvalid" ,placeholder='Input your password again, they need be the same',ng-minlength="6", ng-maxlength="16" required nx-equal-ex="user.minwenpassword")
              div(ng-show="signupform.passwordvalid.$error.nxEqualEx") Password validation failed, two password should be the same.
              div(ng-show="signupform.passwordvalid.$error.minlength || signupform.passwordvalid.$error.maxlength") Password validation should be at least 6 characters long, and at most 16 characters long
            .form-group
              label(for='firstname') 
                | First Name
                span * 
              input#firstname.form-control(type='text',name="firstname" ,ng-model="user.first_name" ,placeholder='Enter firstname' required)
            .form-group
              label(for='lastname')
                | Last Name
                span * 
              input#lastname.form-control(type='text',name="lastname" ng-model="user.last_name" ,placeholder='Enter lastname' required)
            
            .form-group
              label(for='displayName')
                | Display Name
                span *
              input#displayName.form-control(type='text',name="nickname" ng-model="user.nickname" ,placeholder='Enter display name' required)

            .form-group
              label(for="usercat")
                | User Category
                span * 
              select#usercat( ng-model="user.usercat", name="usercat", required).form-control
                option(value='1') user
                //- option(value='0') admin
            //-.checkbox
              label
                input(type='checkbox')
                |  Remember Me
            button.btn.btn-theme-bg( ng-disabled="signupform.$invalid",ng-click="submit(user)" ) Sign Up
  .divide60
          

block additionalJS
  script(src=angularJS_src, type="text/javascript")
  script(src="#{glblprefix}/js/users/signup.js", type='text/javascript')