// this is the mail template

html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Password reset notification
      p
        | Dear 
        strong #{user.displayName()} 
        br
        | Your request of reseting your password has been processed. Your password is reset as follows
      h3.h3= user.password_hash
      p Thank you for using FASIDS
      p
        i Regards,
      p Adiminstration of FASIDS
