.real-100-width {
  margin: 0px;
  padding: 0px;
}
.subnav-container {
  background-color: #565a5c;
}
.subnav-container .subnav .list-inline {
  margin: 0px;
}
.subnav-container .subnav .list-inline li {
  padding: 10px 15px;
}
.subnav-container .subnav .list-inline li a {
  color: #cacccd;
}
.subnav-container .subnav .list-inline li a:hover {
  color: #fff;
}
.subnav-container .subnav .list-inline li.active {
  padding: 10px 15px 5px 15px;
  border-bottom: 5px solid #cacccd;
  color: #fff;
}
.panel .panel-heading {
  font-size: 18px;
}
.panel .polygon-row-dashboard {
  line-height: 70px;
}
.panel .polygon-row-dashboard .polygon-operations a + a {
  margin-left: 25px;
}
.panel .polygon-row-dashboard .polygon-preview {
  text-align: center;
}
.sidenav-list {
  font-size: 18px;
  list-style: none;
}
.sidenav-list li {
  margin-bottom: 5px;
}
.sidenav-list li a {
  color: #808080;
}
.sidenav-list li a:hover {
  color: #cccccc;
}
.sidenav-list li.active a {
  color: #333;
}
span.red {
  color: red;
}
.panel-body .col-xs-3.text-right {
  line-height: 34px;
}
.panel-body .col-xs-4.email-sent-result {
  line-height: 34px;
}
.panel-body .col-xs-4.email-sent-result.success {
  color: green;
}
.panel-body .col-xs-4.email-sent-result.error {
  color: red;
}
