extends ../layout

block additionalCSS
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js')

  script(type='text/javascript').
    var model = {};
    var sortFireAntProduct = angular.module("sortFireAntProduct", []);
    // get data
    sortFireAntProduct.run(function($http) {
      // this url needs to be changed
      var globalPrefix = window.location.href.search("fasids.tamu.edu") >= 0 ?  "/node/fasids" : "";
      $http.get(globalPrefix +"/api/fire_ant_products").success(function(data) {
        console.log("successfully get data in ajax way");
        model.items = data;
        model.items.forEach(function(oneItem, idx, arra) {
          if (oneItem.coverage) {
            switch (oneItem.usage) {
              case "imt":
                oneItem.coverage = oneItem.coverage + " mnds"
                break;
              case "line":
                oneItem.coverage = oneItem.coverage + " m"
                break;
              case "broadcast":
                oneItem.coverage = oneItem.coverage + " "
                break;
              default:
                oneItem.coverage = "unknow unit due to unknow usage"
            }
          } else {
            oneItem.coverage = "No Data"
          }
        });
      });
    });
    sortFireAntProduct.controller("FAPrdtSortCtrl", function($scope) {
      $scope.sortType = 'product_name'; // set the default sort type
      $scope.sortReverse = false; // set the default sort order
      // list of products
      $scope.FireAntProduct = model;
    });
block renderBody
  .divide30
  .container(ng-app='sortFireAntProduct')
    .row(ng-controller='FAPrdtSortCtrl')
      .col-xs-12
        table.table.table-striped.table-bordered
          thead
            tr
              th Product Page
              th
                a(href='#', ng-click="sortType='product_name'; sortReverse=!sortReverse")
                  | Product Name
                  span.fa.fa-caret-down(ng-show="sortType === 'product_name' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'product_name' && sortReverse")
              th
                a(href='#', ng-click="sortType='manufacturer'; sortReverse=!sortReverse")
                  | Brand
                  span.fa.fa-caret-down(ng-show="sortType === 'manufacturer' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'manufacturer' && sortReverse")
              th Usage
              th
                a(href='#', ng-click="sortType='coverage'; sortReverse=!sortReverse")
                  | Coverage
                  span.fa.fa-caret-down(ng-show="sortType === 'coverage' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'coverage' && sortReverse")
          tbody
            tr(ng-repeat="roll in FireAntProduct.items | orderBy:sortType:sortReverse| filter:{usage:'imt'}:true")
              td
                a(ng-href='{{roll.product_url}}', target='_blank')
                  img.img-thumbnail(ng-src='{{roll.img_small_url}}', alt='product_img')
              td {{roll.product_name}}
              td {{roll.manufacturer}}
              td {{roll.usage}}
              td {{roll.coverage}}
    .row(ng-controller='FAPrdtSortCtrl')
      .col-xs-12
        table.table.table-striped.table-bordered
          thead
            tr
              th Product Page
              th
                a(href='', ng-click="sortType='product_name'; sortReverse=!sortReverse")
                  | Product Name
                  span.fa.fa-caret-down(ng-show="sortType === 'product_name' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'product_name' && sortReverse")
              th
                a(href='', ng-click="sortType='manufacturer'; sortReverse=!sortReverse")
                  | Brand
                  span.fa.fa-caret-down(ng-show="sortType === 'manufacturer' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'manufacturer' && sortReverse")
              th Usage
              th
                a(href='', ng-click="sortType='coverage'; sortReverse=!sortReverse")
                  | Coverage
                  span.fa.fa-caret-down(ng-show="sortType === 'coverage' && !sortReverse")
                  span.fa.fa-caret-up(ng-show="sortType === 'coverage' && sortReverse")
          tbody
            tr(ng-repeat="roll in FireAntProduct.items | orderBy:sortType:sortReverse| filter:{usage:'broadcast'}:true")
              td
                a(ng-href='{{roll.product_url}}', target='_blank')
                  img.img-thumbnail(ng-src='{{roll.img_small_url}}', alt='product_img')
              td {{roll.product_name}}
              td {{roll.manufacturer}}
              td {{roll.usage}}
              td
                | {{roll.coverage}}
                span
                  | m
                  sup 2

block additionalJS