extends ../layout

block additionalCSS
  script(src=angularJS_src)
  script(src=ngResource_src)
  script#inpage-script(type='text/javascript' src="#{glblprefix}/js/landscape/fireAntProducts2.js" data-page-status = page_status).
block renderBody
  .divide30
  .container(ng-app='sortFireAntProduct' ng-cloak)
    .row(ng-controller='FAPrdtSortCtrl')
      .col-xs-12
        div(ng-show="displayMode == 'list'")
          button.btn.btn-theme-bg.btn-sm.margin-right-10(ng-click="editOrCreateProduct()") New
          .divide20
          table.table.table-striped.table-bordered
            thead
              tr
                th Product Page
                th
                  a.productth( ng-click="sortType='product_name'; sortReverse=!sortReverse")
                    | Product Name
                    span.fa.fa-caret-down(ng-show="sortType === 'product_name' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'product_name' && sortReverse")
                th
                  a.productth( ng-click="sortType='manufacturer'; sortReverse=!sortReverse")
                    | Brand
                    span.fa.fa-caret-down(ng-show="sortType === 'manufacturer' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'manufacturer' && sortReverse")
                th Usage
                th Control Method
                th options

            tbody
              tr(ng-repeat="item in products | orderBy:sortType:sortReverse")
                td
                  a(ng-href='{{item.product_url}}', target='_blank')
                    img.img-thumbnail(ng-src="{{item.img_small_url || 'http://www.homedepot.com/HFApp/static/global/images/desktop/thd-logo.png'}}", alt='product_img')
                td {{item.product_name}}
                td {{item.manufacturer}}
                td {{item.usage}}
                td {{item.control_method}}
                td
                  button.btn.btn-theme-bg.btn-sm.margin-right-10(ng-click="editOrCreateProduct(item)") Edit
                  button.btn.btn-danger.btn-ico(ng-click="deleteProduct(item)") Delete


        
        .fireAntProductFormWrapper(ng-show="displayMode == 'edit'")
          form(name="editOrCreateProductForm" novalidate)
            .form-group
              label(for='product_id') 
               | Product Id
               span *
              input#product_id.form-control(type='number' ng-model="currentProduct.product_id", required)
            .form-group
              label(for='product_name') 
                | Product name
                span *
              input#product_name.form-control(type='text' ng-model="currentProduct.product_name", required)
            .form-group
              label(for='manufacturer') Manufacturer
              input#manufacturer.form-control(type='text' ng-model="currentProduct.manufacturer")

            .form-group
              label type of uses
              div
                label.checkbox-inline
                  input(type='checkbox', ng-checked="currentProduct.type_of_uses.indexOf('home') > -1", ng-click="toggleEntryInArray('home', currentProduct.type_of_uses)")
                  |  home
                label.checkbox-inline
                  input(type='checkbox', ng-checked="currentProduct.type_of_uses.indexOf('agricultural') > -1", ng-click="toggleEntryInArray('agricultural', currentProduct.type_of_uses)")
                  |  agricultural
                label.checkbox-inline
                  input(type='checkbox', ng-checked="currentProduct.type_of_uses.indexOf('professional') > -1", ng-click="toggleEntryInArray('professional', currentProduct.type_of_uses)")
                  |  professional

            // options for physical form, required
            .form-group
              label(for='manufacturer') 
                | Physical Form
                span *
              select.form-control(ng-model="currentProduct.physical_form", required)
                option(value="") null
                option(value="granular") granular
                option(value="dust") dust
                option(value="liquid") liquid
            .form-group
              label(for="pest_types") pest types
              div.margin10
                span.label.label-default.margin-right-10(ng-repeat="pest_type in currentProduct.pest_types")
                  span.margin-right-10 {{pest_type}}
                  span.glyphicon.glyphicon-remove(ng-click="toggleEntryInArray(pest_type, currentProduct.pest_types)")
              div
                .input-group
                  input.form-control(type='text', name="toBeAddedPestType", ng-model="toBeAddedPestType")
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click="toggleEntryInArray(toBeAddedPestType, currentProduct.pest_types)") Add it!
                  // /input-group
                // /.col-lg-6
              // /.row

            // checkboxes for is outdoor , is organic, is safe for pets
            .form-group
              label additional traits
              div
                label.checkbox-inline
                  input#inlineCheckbox1(type='checkbox', ng-model="currentProduct.is_outdoor")
                  |  Outdoor usage
                label.checkbox-inline
                  input#inlineCheckbox2(type='checkbox', ng-model="currentProduct.is_organic")
                  |  Organic
                label.checkbox-inline
                  input#inlineCheckbox3(type='checkbox', ng-model="currentProduct.is_safe_for_pets")
                  |  Safe for pets

            // options of control method, required
            .form-group
              label(for='control_method')
                | Control method
                span *
              select#control_method.form-control(required, ng-model="currentProduct.control_method")
                option(value="") null
                option bait
                option contact
                option baitcontact

            // options of usage, requried
            .form-group
              label(for='usage') 
               | Usage
               span *
              select#usage.form-control(required, ng-model="currentProduct.usage")
                option(value="") null
                option broadcast
                option imt
                option broadcastimt
            .form-group
              label(for="coverage") Coverage
              input#coverage.form-control(type="text", ng-model="currentProduct.coverage")
            .form-group
              label(for="homedepot_score") Homedepot score
              input#homedepot_score.form-control(type="text", ng-model="currentProduct.homedepot_score")
            .form-group
              label(for="product_overview") Product overview
              input#product_overview.form-control(type="text", ng-model="currentProduct.product_overview")
            .form-group
              label(for="product_url") 
                | Product url
                span *
              input#product_url.form-control(type="text", ng-model="currentProduct.product_url", required)
            .form-group
              label(for="img_small_url") img small url
              input#img_small_url.form-control(type="text", ng-model="currentProduct.img_small_url")
            .form-group
              label(for="img_url") img url
              input#img_url.form-control(type="text", ng-model="currentProduct.img_url")

            button.btn.btn-default.margin-right-10(ng-click="saveEdit(currentProduct)", ng-disabled="editOrCreateProductForm.$invalid") Submit
            button.btn.btn-default( ng-click="cancelEdit()") Cancel
          .divide30


block additionalJS