extends ../layout

block additionalCSS
  link(href="/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  link(href='/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')  

block renderBody
  //-include ../snippets/breadcrum
  .mapcover#mapcover
    .mapcover-map#mapcover-map




block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY')
  script(src="/underscorejs/underscore-min.js")
  script(src="/js/backbone-min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="/assets/mapcover/js/mapcover.js")
  script(src="/js/landscape/homeownermng.js" )

