extends ../layout

block additionalCSS
  link(href="/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  link(href='/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')  

block renderBody
  //-include ../snippets/breadcrum
  .mapcover#mapcover
    .mapcover-map#mapcover-map
    .mc-static2mapcontainer.panel#map-tools-box
      .row
        .col-xs-4 
          span.btn.btn-default.fa.fa-mouse-pointer#map-tool-area-pointer(data-operation = "map_tool_area_drawing")
        //- .col-xs-4
        //-   span.btn.btn-default.fa.fa-undo#map-tool-undo
      .row
        .col-xs-4
          span.btn.btn-default#map-tool-hole(data-operation = "map_tool_holing") Make hole
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-editpolygon(data-operation="map_tool_editpolygon") edit shape
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-settreatment(data-operation="map_tool_settreatment") set treatment
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-genresult(data-operation="map_tool_genresult") see result

      .row
        .col-xs-4
          span.btn.btn-default#map-tool-cancel cancel
  .modal-container
    #purpose-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Prepare treatment
          .modal-body
            form#purpose
              div
                label.radio-inline
                  input#housebuilding-radio(type='radio', name='landusage', value='housebuilding')
                  |  House &amp; Building
                label.radio-inline
                  input#lawnturf-radio(type='radio', name='landusage', value='lawnturf')
                  |  Lawn &amp; Turf
                label.radio-inline
                  input#vegetablegarden-radio(type='radio', name='landusage', value='vegetablegarden')
                  |  Vegetable Garden
              .divide30
              div
                label.radio-inline
                  input#imt-radio(type='radio', name='treatment', value='imt')
                  |  Individual Mound Treatment
                label.radio-inline
                  input#broadcast-radio(type='radio', name='treatment', value='broadcast')
                  |  Broadcast baits



          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary#save-prepared-treatment(type='button') Save changes
  .hidden
    form#treatment(action="/landscape/treatment", method="post")
      input#geojson(type='text', name="geojson")




block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="/underscorejs/underscore-min.js")
  script(src="/js/backbone-min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="/assets/mapcover/js/mapcover.js")
  script(src="/js/landscape/DeleteMenu.js")
  script(src="/js/landscape/homeownermng.js" )

