extends ../layout

block additionalCSS
  link(href="/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  link(href='/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')  

block renderBody
  //-include ../snippets/breadcrum
  .mapcover#mapcover
    .mapcover-map#mapcover-map
    .mc-static2mapcontainer.panel#map-tools-box
      .row
        .col-xs-4 
          span.btn.btn-default.fa.fa-mouse-pointer#map-tool-area-pointer(data-operation = "map_tool_area_drawing")
        .col-xs-4
          span.btn.btn-default.fa.fa-undo#map-tool-undo
      .row
        .col-xs-4
          span.btn.btn-default#map-tool-hole(data-operation = "map_tool_holing") hole
        .col-xs-4
          span.btn.btn-default#map-tool-cancel cancel
      .row
        .col-xs-4
          span.btn.btn-default#map-tool-editpolygon(data-operation="map_tool_editpolygon") edit



block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="/underscorejs/underscore-min.js")
  script(src="/js/backbone-min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="/assets/mapcover/js/mapcover.js")
  script(src="/js/landscape/homeownermng.js" )

