body {
  /*modifying post page*/
  /*modifying one post, one can see this in specific question*/
}
body .qa-slider {
  height: 300px;
  background-color: #f7f9fa;
}
body .qa-post-titles .qa-post-title-row {
  padding: 15px 0px;
}
body .qa-post-titles .even-numbered-post-row {
  background-color: #f7f9fa;
}
body #filter-go-btn {
  margin-left: 10px;
}
body .toolbar-row a.btn {
  margin-right: 10px;
}
body .textarea-row textarea {
  width: 100%;
}
body .row.final-buttons a.btn {
  margin-right: 10px;
}
body .post-row {
  margin-top: 15px;
  border: 1px solid #d8e1e6;
}
body .post-row .one-post-author-info-col {
  border-right: 1px solid #d8e1e6;
}
body .post-row .one-post-content-col {
  padding-bottom: 20px;
}
