@import "../base";
@import "../fasids-editor";
body {
  .main-qa{
    .tabs{
      .nav-tabs{
        li{
          float: right;
        }

      }
    }

  }

  /* qa index*/
  .qa-post-titles{
    .qa-post-title-row{
      padding: 15px 0px;
      .col-sm-1{   // votes, answers and view 一览表
        font-size: 12px;
        line-height: 16px;
        .votes-number,.answers-number{
          font-size: 20px;
          line-height: 28px;
        }
        .answers-number,.answers-text{
          background-color: lighten(#404040, 10%);
          color:#fff;
        }
        .views-combination{
          padding: 6px 0 6px 0;
          span.views-number{
            padding-right: 5px;
          }

        }
      }
      .post-title{
        font-size: 18px;
      }
    }

    .even-numbered-post-row{
      background-color: darken(@very-light-grey, 3%);;
    }
  }

  #filter-go-btn{
    margin-left: 10px;
  }

  /*modifying post page*/

  .row.final-buttons{
    a.btn{
      margin-right: 10px;
    }
  }

  /*modifying one post, specific question*/
  .post-row{
    // padding: 10px;
    .one-post-author-info-col{
      border-right: 1px solid darken(@very-light-grey, 10%);
      // height: 100%;
    }
    margin-top: 15px;
    border: 1px solid darken(@very-light-grey, 10%);
    .one-post-content-col{
      padding-bottom: 20px;
    }


    /*after 11.24 date*/
    .votes-container{
      padding-top:10px; 
      .votes-number-container{
        font-size: 18px;
      }
      .fa-caret-up,.fa-caret-down{
        cursor: pointer;
        &.active-relation{
          color:orange;
        }
      }
      .star-div{
        color:@light-grey;
      }
    }
    .content{
      padding: 10px;
    }
    .post-signature{
      float: right;
      background-color: #E0EAF1;
      padding: 10px;
      margin-bottom: 15px;
      &.answer-signature{
        background-color: transparent;
        border-left: 4px solid #E0EAF1;
        // border-top: 3px solid #E0EAF1;
      }
    }
    .post-status{
      padding-top: 10px;
    }
  } 

  /*modifying the reply input editor*/
  .reply-editor-row{
    .reply-buttons-row{
      .btn{
        + .btn{
          margin-left: 10px;
        }
      }
    }
  }

  .fa-2{
    font-size: 2em;
  }
  // fixup about 
}
