//- sidebar begin
.col-md-3.col-md-offset-1
  .sidebar-box.margin40
    h4 Search
    form.search-widget(role='form')
      input.form-control(type='text')
      i.fa.fa-search
  // sidebar-box
  .sidebar-box.margin40
    h4 Text widget
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
  // sidebar-box
  .sidebar-box.margin40
    h4 Categories
    ul.list-unstyled.cat-list
      li
        a(href='#') Marketing
        i.fa.fa-angle-right
      li
        a(href='#') Videos
        i.fa.fa-angle-right
      li
        a(href='#') Sports
        i.fa.fa-angle-right
      li
        a(href='#') Fashion
        i.fa.fa-angle-right
      li
        a(href='#') Media
        i.fa.fa-angle-right
      li
        a(href='#') Seo
        i.fa.fa-angle-right
      li
        a(href='#') Marketing
        i.fa.fa-angle-right
  // sidebar-box
  .sidebar-box.margin40
    h4 Popular Post
    ul.list-unstyled.popular-post
      li
        .popular-img
          a(href='#')
            img.img-responsive(src='#{glblprefix}/img/img-7.jpg', alt='')
        .popular-desc
          h5
            a(href='#') blog post image
          h6 31st july 2014
      li
        .popular-img
          a(href='#')
            img.img-responsive(src='#{glblprefix}/img/img-8.jpg', alt='')
        .popular-desc
          h5
            a(href='#') blog post image
          h6 31st july 2014
      li
        .popular-img
          a(href='#')
            img.img-responsive(src='#{glblprefix}/img/img-9.jpg', alt='')
        .popular-desc
          h5
            a(href='#') blog post image
          h6 31st july 2014
  // sidebar-box
  .sidebar-box.margin40
    h4 Tag Cloud
    .tag-list
      a(href='#') Wordpress
      a(href='#') Design
      a(href='#') Graphics
      a(href='#') Seo
      a(href='#') Development
      a(href='#') Marketing
      a(href='#') fashion
      a(href='#') Media
      a(href='#') Photoshop
// sidebar-col