extends ../layout

block additionalCSS
block renderBody
  .divide80
  .container.blog-left-img
    .row
      .col-md-8
        .blog-post
          .row
            .col-md-6.margin20
              a(href='blogs/first-blog')
                .item-img-wrap
                  img.img-responsive(src='http://fireant.tamu.edu/files/2012/10/IMG0003.jpg', alt='workimg')
                  .item-img-overlay
                    span
              // work link
            .col-md-6.margin20
              ul.list-inline.post-detail
                li
                  | by 
                  a(href='#') assan
                li
                  i.fa.fa-calendar
                  |  31st july 2014
                li
                  i.fa.fa-tag
                  a(href='#') Sports
              h2
                a(href='blogs/first-blog') How can I tell if I have fire ants?
              p
                |You can tell you have fire ants if you see a mound of fluffy worked soil, particularly a few days after a heavy rain....
              p
                a.btn.btn-theme-dark(href='blogs/first-blog') Read More...
        // blog post
        .blog-post
          .row
            .col-md-6.margin20
              a(href='blogs/first-blog')
                .item-img-wrap
                  img.img-responsive(src='#{glblprefix}/img/img-5.jpg', alt='workimg')
                  .item-img-overlay
                    span
              // work link
            .col-md-6.margin20
              ul.list-inline.post-detail
                li
                  | by 
                  a(href='#') assan
                li
                  i.fa.fa-calendar
                  |  31st july 2014
                li
                  i.fa.fa-tag
                  a(href='#') Sports
              h2
                a(href='#') Lorem ipsum dollor sit amet
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
              p
                a.btn.btn-theme-dark(href='blogs/first-blog') Read More...
        // blog post
        .blog-post
          .row
            .col-md-6.margin20
              a(href='blogs/first-blog')
                .item-img-wrap
                  img.img-responsive(src='#{glblprefix}/img/img-3.jpg', alt='workimg')
                  .item-img-overlay
                    span
              // work link
            .col-md-6.margin20
              ul.list-inline.post-detail
                li
                  | by 
                  a(href='#') assan
                li
                  i.fa.fa-calendar
                  |  31st july 2014
                li
                  i.fa.fa-tag
                  a(href='#') Sports
              h2
                a(href='blogs/first-blog') Lorem ipsum dollor sit amet
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
              p
                a.btn.btn-theme-dark(href='blogs/first-blog') Read More...
        // blog post
        .blog-post
          .row
            .col-md-6.margin20
              a(href='#')
                .item-img-wrap
                  img.img-responsive(src='#{glblprefix}/img/img-4.jpg', alt='workimg')
                  .item-img-overlay
                    span
              // work link
            .col-md-6.margin20
              ul.list-inline.post-detail
                li
                  | by 
                  a(href='#') assan
                li
                  i.fa.fa-calendar
                  |  31st july 2014
                li
                  i.fa.fa-tag
                  a(href='#') Sports
              h2
                a(href='#') Lorem ipsum dollor sit amet
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
              p
                a.btn.btn-theme-dark(href='blogs/first-blog') Read More...
        // blog post
        ul.pager
          li.previous
            a(href='#') ← Previous Page
          li.next
            a(href='#') Next Page →
        // pager
      // col-md-8 for left column blog
      include ./blogsidebar
    // row for blog post

block additionalJS

