//- Thie view file has ability to adjust it self for account module

extends ../layout

block additionalCSS
  link(href='/css/users/index.css', rel='stylesheet', type='text/css', media='screen')

block renderBody
  -var active_section = "account"
  include ../snippets/sub-nav.jade
  .divide30
  
  .container
    .row
      .col-xs-3
        ul.sidenav-list
          li(class='#{active_subsection==="basic_info"?"active":""}')
            a(href="/users/account/basic_info") Basic info
          li(class='#{active_subsection==="security"?"active":""}')
            a(href="/users/account/security") Security
      .col-xs-9
        case active_subsection
          when "basic_info"
            .panel.panel-default
              .panel-heading
                | Basic Info
              .panel-body
                form
                  .row
                    .col-xs-3.text-right
                      label(for='email') Email address
                    .col-xs-5
                      input#email.form-control(type='email', placeholder='Email', name="email")
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='first_name') First name
                    .col-xs-5
                      input#first_name.form-control(type='text', placeholder='first name', name="first_name")
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='last_name') Last name 
                    .col-xs-5
                      input#last_name.form-control(type='text', placeholder='last name', name="last_name")
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for="user_cat") User category
                    .col-xs-5
                      select.form-control(name="user_cat")
                        option(value="0") cat0 
                        option(value="1") cat1 
                        option(value="2") cat2 
                        option(value="3") cat3 
                        option(value="4") cat4 
                  hr
                  .row
                    .col-xs-2.col-xs-offset-10
                      button.btn.btn-default(type='submit') Update Info
          when "security"
            p implementing

  .divide30

block additionalJS
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js", type="text/javascript")

