extends ../layout
block additionalCSS

block renderBody
  include ../snippets/breadcrum.jade
  include ../snippets/infobox.jade
  .divide30
  .container
    .row
      .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
        .login-form
          h3 Reset Your Password
          form(role='form' method="post")
            .form-group
              label(for='email') Email address
              input#email.form-control(type='email', name='email', placeholder='Enter email')
            button.btn.btn-theme-bg(type='submit') Reset
  .divide60
block additionalJS