extends ../layout
block renderBody
  form#autoSignIn( method="post")
    input(type="email", name="email", value="#{dev_mode?'boweiliu2014@gmail.com':''}")
    br
    input(type="password", name="password", value="#{dev_mode?'test':''}")
    br

    button(type="submit") submit

block additionalJS
  if dev_mode
    script.
      $(document).ready(function onReady(){
        
        $("#autoSignIn").submit();
      });