extends ../layout
block renderBody
  //- if error
  //-   p=error

  //- form#autoSignIn( method="post")
  //-   input(type="email", name="email", value="#{dev_mode?'boweiliu2014@gmail.com':''}")
  //-   br
  //-   input(type="password", name="password", value="#{dev_mode?'test':''}")
  //-   br

  //-   button(type="submit") submit


  include ../snippets/breadcrum
  include ../snippets/infobox.jade
  .divide30
  .container
    .row
      .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
        .login-form
          h3 Sign In
            
          form(role='form' method="post")
            .form-group
              label(for='email') Email address
              input#email.form-control(type='email', name='email', value="boweiliu2014@gmail.com")
            .form-group
              label(for='password') Password
              input#password.form-control(type='password',name='password', value="test" )

            .checkbox
              label
                input(type='checkbox', name="remember")
                |  Remember Me
            button.btn.btn-theme-bg(type='submit') Sign In
  .divide30
block additionalJS
  //- if dev_mode
  //- script.
  //-   $(document).ready(function onReady(){
      
  //-     $("#autoSignIn").submit();
  //-   });